# Ignores de API
api/node_modules
api/cypress/results/*
api/cypress/allure-report/*
api/cypress/allure-results/*
api/cypress/screenshots/*
api/cypress/downloads/*

# Ignores E2E
e2e/node_modules
e2e/cypress/results/*
e2e/cypress/allure-report/*
e2e/cypress/allure-results/*
e2e/cypress/config-files/

# Ignores
.vscode/*
send-allure-results-BKP.sh
node_modules